.root {
    width: 170px;
    height: 45px;
    background-color: var(--white);
    padding: 10px;
    border-radius: var(--border-radius);
    border: 2px solid var(--purple);

    > input {
        width: 80%;
        color: black;
        transform: translateY(-1px);

        &::placeholder {
            color: inherit;
            opacity: 0.7;
        }
    }

    &.dark {
        background-color: var(--black);

        > input {
            color: white;
        }

        > button > svg path {
            stroke: #cdcdcd;
        }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    > button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        cursor: pointer;

        > svg {
            transform: translateY(1px);
            path {
                stroke: #cdcdcd;
            }
        }
    }
}
