.root {
    padding-top: 80px;

    @media (max-width: 768px) {
        padding-top: 40px;
    }
}

.container {
    position: relative;
}

.title {
    text-align: center;
}

.list {
    padding-top: 50px;

    @media (max-width: 414px) {
        padding-top: 30px;
    }
}

.empty {
    display: flex;
    justify-content: center;
}

.modalBtn {
    position: absolute;
    right: 30px;
    bottom: -270px;
}
