.root {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.active > div:first-child {
        text-decoration: line-through;
        color: gray;
    }
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;

    > strong {
        max-width: 770px;
        cursor: pointer;
        word-wrap: break-word;
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;

    > svg {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .edit {
        right: 80px;
        position: absolute;
    }
}

.pen {
    &:hover path {
        stroke: var(--purple);
    }
}

.trash {
    &:hover path {
        stroke: var(--red);
    }
}
