* {
    font-family: 'Kanit', sans-serif;
}

html {
    width: 100%;
    min-height: 100vh;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    overflow-x: hidden;
}

body.theme-light {
    --text-color: black;
    --background-color: var(--white);
    background-color: var(--background-color);
    color: black;
}

body.theme-dark {
    --text-color: white;
    --background-color: #252525;
    background-color: var(--background-color);
    color: white;
}
