:root {
    // colors
    --black: #252525;
    --purple: #6c63ff;
    --white: #f7f7f7;
    --red: #e50000;

    // hovers
    --purpleHover: #534cc2;

    // borders
    --border-radius: 5px;
    --itemLine: #6b63ff86;

    // transition
    --main-transition: 0.1s ease-in-out;
}

:root {
    // container
    --containerLg: 1440px;
    --containerMd: 1170px;
    --containerSm: 960px;

    --containerPadding: 15px;
}
